<a href="https://colab.research.google.com/github/kholikulovelyor/Data-Darsliklari-uchun/blob/2-modul.-DATA-ANALYSIS-PANDAS-KUTUBXONASI/_loc_iloc_va_at_iat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [26]:
uz = { 2020 : 33.5 , 2019 : 32.9 , 2018 : 32.5 , 2017 : 31.9 , 2016 : 31.4 , 2015 : 30.9 }
kz = { 2020 : 18.8 , 2019 : 18.5 , 2018 : 18.3 , 2017 : 18.1 , 2016 : 17.8 , 2015 : 17.6 } 
tj = { 2020 : 9.5 , 2019 : 9.3 , 2018 : 9.1 , 2017 : 8.9 , 2016 : 8.7 , 2015 : 8.5 } 
kg = { 2020 : 6.5 , 2019 : 6.4 , 2018 : 6.3 , 2017 : 6.2 , 2016 : 6.1 , 2015 : 6.0 } 
tr = { 2020 : 6.0 , 2019 : 5.9 , 2018 : 5.9 , 2017 : 5.8 , 2016 : 5.6 , 2015 : 5.6 }

df = pd.DataFrame({'Uzbekistan':uz, 'Kazakhstan':kz, 'Tajikistan':tj, 'Kyrgizstan':kz, 'Turkmenistan':tr})

In [27]:
df.loc[[2020]] # loc > location so'zidan olingan 
# loc methodi orqali biror qatorni chiqarish mukun

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5        18.8           6.0

In [28]:
df.loc[[2020,2019],['Uzbekistan', 'Turkmenistan']]

      Uzbekistan  Turkmenistan
2020        33.5           6.0
2019        32.9           5.9

In [29]:
df.iloc[[0,5]]  # tartib raqami orqali murojat qilish

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5        18.8           6.0
2015        30.9        17.6         8.5        17.6           5.6

In [30]:
df.iloc[[0,4], [0,3]]

      Uzbekistan  Kyrgizstan
2020        33.5        18.8
2016        31.4        17.8

In [31]:
df.iloc[[0],[0 , 3]]

      Uzbekistan  Kyrgizstan
2020        33.5        18.8

In [32]:
df

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5        18.8           6.0
2019        32.9        18.5         9.3        18.5           5.9
2018        32.5        18.3         9.1        18.3           5.9
2017        31.9        18.1         8.9        18.1           5.8
2016        31.4        17.8         8.7        17.8           5.6
2015        30.9        17.6         8.5        17.6           5.6

In [33]:
df.at[2015, 'Uzbekistan'] # dddiy qiymat olish uchun shu methodan foydalanamiz

30.9

In [34]:
df.at[2020, 'Uzbekistan'] - df.at[2015, 'Uzbekistan']

2.6000000000000014

In [35]:
df.iat[2,1]

18.3

In [36]:
df

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5        18.8           6.0
2019        32.9        18.5         9.3        18.5           5.9
2018        32.5        18.3         9.1        18.3           5.9
2017        31.9        18.1         8.9        18.1           5.8
2016        31.4        17.8         8.7        17.8           5.6
2015        30.9        17.6         8.5        17.6           5.6

In [37]:
nums = list(range(0,11))
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
nums[0] # nums oxirgi elementi

0

In [39]:
nums[-1] # nums oxirgi elementi

10

In [40]:
nums = pd.Series(np.arange(10.))
nums

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [41]:
nums[-1]

KeyError: ignored

In [42]:
ser = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
ser

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [43]:
ser[-1]

4.0

In [47]:
nums

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [51]:
nums.iloc[-1]

9.0

In [46]:
nums.iloc[4]

4.0

In [48]:
ser.loc['d']

3.0

In [49]:
ser.loc['b']

1.0