<a href="https://colab.research.google.com/github/kholikulovelyor/Data-Darsliklari-uchun/blob/2-modul.-DATA-ANALYSIS-PANDAS-KUTUBXONASI/Elementlarni_tanlash_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [2]:
data = {'Yil':[2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010],
       'Aholi soni':[33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
       "Temp":[1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53],
       "Zichlik":[79.77, 78.68, 77.53, 76.43, 75.13, 73.91, 72.71, 67.03]}
df = DataFrame(data)
df

    Yil  Aholi soni  Temp  Zichlik
0  2021        33.9  1.54    79.77
1  2020        33.5  1.48    78.68
2  2019        32.9  1.56    77.53
3  2018        32.5  1.62    76.43
4  2017        31.9  1.65    75.13
5  2016        31.4  1.66    73.91
6  2015        30.9  1.64    72.71
7  2010        28.5  1.53    67.03

In [3]:
data=df['Aholi soni'] # ustunni ajratib olish

In [4]:
data

0    33.9
1    33.5
2    32.9
3    32.5
4    31.9
5    31.4
6    30.9
7    28.5
Name: Aholi soni, dtype: float64

In [5]:
type(data)

pandas.core.series.Series

In [6]:
#data = df[['Aholi soni']] # DataFrame ko'rinishida qaytadi

In [7]:
data

0    33.9
1    33.5
2    32.9
3    32.5
4    31.9
5    31.4
6    30.9
7    28.5
Name: Aholi soni, dtype: float64

In [8]:
type(data)

pandas.core.series.Series

In [13]:
type(data[[5]])

pandas.core.series.Series

In [17]:
data[0:4]

0    33.9
1    33.5
2    32.9
3    32.5
Name: Aholi soni, dtype: float64

In [19]:
obj = pd.Series(np.arange(8.), index=['a','b','c','d','j','k','l','m'])

In [20]:
obj

a    0.0
b    1.0
c    2.0
d    3.0
j    4.0
k    5.0
l    6.0
m    7.0
dtype: float64

In [22]:
obj[['a']]

a    0.0
dtype: float64

In [23]:
obj[0:4]

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [24]:
obj['a':'f']

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [26]:
obj[[1,5]]

b    1.0
k    5.0
dtype: float64

In [29]:
obj['a':'c']=10 # ichidagi qiymatni o'zgartirish

In [30]:
obj

a    10.0
b    10.0
c    10.0
d     3.0
j     4.0
k     5.0
l     6.0
m     7.0
dtype: float64

In [36]:
obj[obj<10] # qiymatni ajratib olish

d    3.0
j    4.0
k    5.0
l    6.0
m    7.0
dtype: float64

In [35]:
obj[obj==10]

a    10.0
b    10.0
c    10.0
dtype: float64