<a href="https://colab.research.google.com/github/kholikulovelyor/Data-Darsliklari-uchun/blob/2-modul.-DATA-ANALYSIS-PANDAS-KUTUBXONASI/Elementlar_tanlash_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [6]:
uz = { 2020 : 33.5 , 2019 : 32.9 , 2018 : 32.5 , 2017 : 31.9 , 2016 : 31.4 , 2015 : 30.9 }
kz = { 2020 : 18.8 , 2019 : 18.5 , 2018 : 18.3 , 2017 : 18.1 , 2016 : 17.8 , 2015 : 17.6 } 
tj = { 2020 : 9.5 , 2019 : 9.3 , 2018 : 9.1 , 2017 : 8.9 , 2016 : 8.7 , 2015 : 8.5 } 
kg = { 2020 : 6.5 , 2019 : 6.4 , 2018 : 6.3 , 2017 : 6.2 , 2016 : 6.1 , 2015 : 6.0 } 
tr = { 2020 : 6.0 , 2019 : 5.9 , 2018 : 5.9 , 2017 : 5.8 , 2016 : 5.6 , 2015 : 5.6 }

df = pd.DataFrame({'Uzbekistan':uz, 'Kazakhstan':kz, 'Tajikistan':tj, 'Kyrgizstan':kz, 'Turkmenistan':tr})

In [7]:
df

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5        18.8           6.0
2019        32.9        18.5         9.3        18.5           5.9
2018        32.5        18.3         9.1        18.3           5.9
2017        31.9        18.1         8.9        18.1           5.8
2016        31.4        17.8         8.7        17.8           5.6
2015        30.9        17.6         8.5        17.6           5.6

In [15]:
df['Uzbekistan'].to_numpy()

array([33.5, 32.9, 32.5, 31.9, 31.4, 30.9])

In [16]:
df[3:]

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2017        31.9        18.1         8.9        18.1           5.8
2016        31.4        17.8         8.7        17.8           5.6
2015        30.9        17.6         8.5        17.6           5.6

In [17]:
df

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5        18.8           6.0
2019        32.9        18.5         9.3        18.5           5.9
2018        32.5        18.3         9.1        18.3           5.9
2017        31.9        18.1         8.9        18.1           5.8
2016        31.4        17.8         8.7        17.8           5.6
2015        30.9        17.6         8.5        17.6           5.6

In [18]:
df>10

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        True        True       False        True         False
2019        True        True       False        True         False
2018        True        True       False        True         False
2017        True        True       False        True         False
2016        True        True       False        True         False
2015        True        True       False        True         False

In [19]:
df[['Uzbekistan']][df['Uzbekistan']>32]

      Uzbekistan
2020        33.5
2019        32.9
2018        32.5

In [22]:
dfuz = df[['Uzbekistan']]
dfuz

      Uzbekistan
2020        33.5
2019        32.9
2018        32.5
2017        31.9
2016        31.4
2015        30.9

In [23]:
dfuz[dfuz['Uzbekistan']>32]

      Uzbekistan
2020        33.5
2019        32.9
2018        32.5

In [25]:
dfuz['Uzbekistan']>32

2020     True
2019     True
2018     True
2017    False
2016    False
2015    False
Name: Uzbekistan, dtype: bool

In [31]:
df2 = df.transpose(copy=True) # ustun va qatorni almashtirish uchun ishlatiladi transpose
df2

              2020  2019  2018  2017  2016  2015
Uzbekistan    33.5  32.9  32.5  31.9  31.4  30.9
Kazakhstan    18.8  18.5  18.3  18.1  17.8  17.6
Tajikistan     9.5   9.3   9.1   8.9   8.7   8.5
Kyrgizstan    18.8  18.5  18.3  18.1  17.8  17.6
Turkmenistan   6.0   5.9   5.9   5.8   5.6   5.6

In [37]:
df2[df2[2015]>6]

            2020  2019  2018  2017  2016  2015
Uzbekistan  33.5  32.9  32.5  31.9  31.4  30.9
Kazakhstan  18.8  18.5  18.3  18.1  17.8  17.6
Tajikistan   9.5   9.3   9.1   8.9   8.7   8.5
Kyrgizstan  18.8  18.5  18.3  18.1  17.8  17.6