<a href="https://colab.research.google.com/github/kholikulovelyor/Data-Darsliklari-uchun/blob/2-modul.-DATA-ANALYSIS-PANDAS-KUTUBXONASI/Indeks_methodlar_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame

In [2]:
username = {"anvar": "anvar223", "elyor": "kholikulovelyor", "bobojon":"yoqubovdadash", "muhriddin": "qodirovmuhriddin00"}
email = {"anvar":"anvarbek223", "elyor":"kholikulovelyor@gmail.com", "bobojon":"yoqubovdadash@gmail.com", "muhriddin":"qodirovmuhriddin00@gmail.com"}

In [3]:
data = {
    'username': username,
    'email': email
}
df = pd.DataFrame(data)

In [4]:
data2 = {
    'username' : {"anvar": "anvarbek22", "elyorbek": "Xoliqulovelyor", "bobojon":"yoqubovdadash", "muhriddinbek": "qodirovmuhriddin01"},
    'email' : {"anvar":"anvarbek223@gmail.com", "elyorbek":"kholikulovelyor555@gmail.com", "bobojon":"yoqubovdadash21@gmail.com", "muhriddin":"qodirovmuhriddin00@gmail.com"}
}

In [5]:
newind = pd.Index(['bobojon', 'muhriddin', 'javohir'])
newind

Index(['bobojon', 'muhriddin', 'javohir'], dtype='object')

In [6]:
newind.is_unique

True

In [9]:
df.index.insert(5, "masha")

Index(['anvar', 'elyor', 'bobojon', 'muhriddin', 'masha'], dtype='object')

In [10]:
df

                     username                         email
anvar                anvar223                   anvarbek223
elyor         kholikulovelyor     kholikulovelyor@gmail.com
bobojon         yoqubovdadash       yoqubovdadash@gmail.com
muhriddin  qodirovmuhriddin00  qodirovmuhriddin00@gmail.com

In [12]:
df.index.unique() # noyob 'takrorlanmas' elementlar

Index(['anvar', 'elyor', 'bobojon', 'muhriddin'], dtype='object')

In [13]:
df

                     username                         email
anvar                anvar223                   anvarbek223
elyor         kholikulovelyor     kholikulovelyor@gmail.com
bobojon         yoqubovdadash       yoqubovdadash@gmail.com
muhriddin  qodirovmuhriddin00  qodirovmuhriddin00@gmail.com

In [15]:
newind.is_monotonic

False