<a href="https://colab.research.google.com/github/kholikulovelyor/Data-Darsliklari-uchun/blob/2-modul.-DATA-ANALYSIS-PANDAS-KUTUBXONASI/Indekslar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [88]:
import pandas as pd
import numpy as np
from pandas import DataFrame

In [89]:
data = {'Yil':[2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010],
       'Aholi soni':[33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
       "Temp":[1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53]}
df = DataFrame(data)

In [90]:
df = DataFrame(data, columns=['Yil','Temp', 'Aholi soni', 'YAIM'], index=[11,12,13,14,15,16,17,18])

In [91]:
val= [1000,1100,1200,1300,1400,1500,1600,1700]
df.YAIM = val

In [92]:
df

     Yil  Temp  Aholi soni  YAIM
11  2021  1.54        33.9  1000
12  2020  1.48        33.5  1100
13  2019  1.56        32.9  1200
14  2018  1.62        32.5  1300
15  2017  1.65        31.9  1400
16  2016  1.66        31.4  1500
17  2015  1.64        30.9  1600
18  2010  1.53        28.5  1700

In [93]:
data = {
    'Uzbekistan':{2021:33.9, 2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9},
    'Kazakhstan':{2021:18.9, 2020:18.7, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8}
}
df2 = DataFrame(data)

In [94]:
df.index

Int64Index([11, 12, 13, 14, 15, 16, 17, 18], dtype='int64')

In [95]:
df.columns

Index(['Yil', 'Temp', 'Aholi soni', 'YAIM'], dtype='object')

In [96]:
indeks = df.columns

In [97]:
indeks

Index(['Yil', 'Temp', 'Aholi soni', 'YAIM'], dtype='object')

In [98]:
'Temp' in indeks

True

In [99]:
'columns' in indeks

False

In [100]:
df2 = DataFrame(data, index=[2021,2019,2017])

In [101]:
df2

      Uzbekistan  Kazakhstan
2021        33.9        18.9
2019        32.9        18.5
2017        31.9        18.1

In [102]:
'Brazillia' in df2.columns

False

In [103]:
2021 in df2.index

True

In [104]:
indeks

Index(['Yil', 'Temp', 'Aholi soni', 'YAIM'], dtype='object')

In [105]:
indeks[0]

'Yil'

In [106]:
indeks[2:4]

Index(['Aholi soni', 'YAIM'], dtype='object')

In [107]:
data1 = {
    'Uzbekistan':{2021:33.9, 2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9},
    'Kazakhstan':{2021:18.9, 2020:18.7, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8}
}
df2 = DataFrame(data)

In [108]:
data2 = {
    'Uzbekistan':{2021:33.9, 2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9},
    'Kazakhstan':{2021:18.9, 2020:18.7, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8},
    'UAE':{2021:9.9, 2020:9.8, 2019:9.7, 2018:9.6, 2017:9.4, 2016:9.3},
    'Ukraine':{2021:42.0, 2020:43.7, 2019:43.9, 2018:44.2, 2017:44.4, 2016:44.7},
    'India':{2021:160.0, 2020:150.0, 2019:166.3, 2018:135.2, 2017:138.6, 2016:324.4}
}
df3 = DataFrame(data2)

In [109]:
df3

      Uzbekistan  Kazakhstan  UAE  Ukraine  India
2021        33.9        18.9  9.9     42.0  160.0
2020        33.5        18.7  9.8     43.7  150.0
2019        32.9        18.5  9.7     43.9  166.3
2018        32.5        18.3  9.6     44.2  135.2
2017        31.9        18.1  9.4     44.4  138.6
2016         NaN        17.8  9.3     44.7  324.4

In [110]:
df3.head(3)

      Uzbekistan  Kazakhstan  UAE  Ukraine  India
2021        33.9        18.9  9.9     42.0  160.0
2020        33.5        18.7  9.8     43.7  150.0
2019        32.9        18.5  9.7     43.9  166.3

In [112]:
df3.index.name = 'YIL'

In [113]:
df3

      Uzbekistan  Kazakhstan  UAE  Ukraine  India
YIL
2021        33.9        18.9  9.9     42.0  160.0
2020        33.5        18.7  9.8     43.7  150.0
2019        32.9        18.5  9.7     43.9  166.3
2018        32.5        18.3  9.6     44.2  135.2
2017        31.9        18.1  9.4     44.4  138.6
2016         NaN        17.8  9.3     44.7  324.4

In [115]:
df3.max()

Uzbekistan     33.9
Kazakhstan     18.9
UAE             9.9
Ukraine        44.7
India         324.4
dtype: float64

In [118]:
df4 = df3.columns
df4

Index(['Uzbekistan', 'Kazakhstan', 'UAE', 'Ukraine', 'India'], dtype='object')

In [120]:
'India' in df4

True

In [130]:
'Aqsh'  in df4

False

In [122]:
YIL = df3.index

In [123]:
df4[1:5]

Index(['Kazakhstan', 'UAE', 'Ukraine', 'India'], dtype='object')

In [124]:
YIL[2:5]

Int64Index([2019, 2018, 2017], dtype='int64', name='YIL')

In [126]:
df4.name = 'davlat'

In [127]:
df4

Index(['Uzbekistan', 'Kazakhstan', 'UAE', 'Ukraine', 'India'], dtype='object', name='davlat')

In [131]:
df3['Uzbekistan']

YIL
2021    33.9
2020    33.5
2019    32.9
2018    32.5
2017    31.9
2016     NaN
Name: Uzbekistan, dtype: float64

In [132]:
df3['India']

YIL
2021    160.0
2020    150.0
2019    166.3
2018    135.2
2017    138.6
2016    324.4
Name: India, dtype: float64

In [134]:
df3.iloc[0]

davlat
Uzbekistan     33.9
Kazakhstan     18.9
UAE             9.9
Ukraine        42.0
India         160.0
Name: 2021, dtype: float64

In [138]:
df3.name = 'davlat2'

In [139]:
df3.iloc[0]

davlat
Uzbekistan     33.9
Kazakhstan     18.9
UAE             9.9
Ukraine        42.0
India         160.0
Name: 2021, dtype: float64