<a href="https://colab.research.google.com/github/kholikulovelyor/Data-Darsliklari-uchun/blob/2-modul.-DATA-ANALYSIS-PANDAS-KUTUBXONASI/Lug%60atdan_DataFrame_yaratish.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame

In [2]:
data = {
    'Uzbekistan':{2021:33.9, 2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9},
    'Kazakhstan':{2021:18.9, 2020:18.7, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8}
}

In [3]:
df2 = DataFrame(data)

In [4]:
df2

      Uzbekistan  Kazakhstan
2021        33.9        18.9
2020        33.5        18.7
2019        32.9        18.5
2018        32.5        18.3
2017        31.9        18.1
2016         NaN        17.8

In [5]:
df2.index.name = "Yill"

In [6]:
df2

      Uzbekistan  Kazakhstan
Yill
2021        33.9        18.9
2020        33.5        18.7
2019        32.9        18.5
2018        32.5        18.3
2017        31.9        18.1
2016         NaN        17.8

In [7]:
df2 = DataFrame(data, index=[2021,2019,2017])

In [8]:
df2.T

            2021  2019  2017
Uzbekistan  33.9  32.9  31.9
Kazakhstan  18.9  18.5  18.1

In [9]:
df2.index.name ='Yil'

In [11]:
df2.T

Yil         2021  2019  2017
Uzbekistan  33.9  32.9  31.9
Kazakhstan  18.9  18.5  18.1

In [13]:
arr = df2.values

In [14]:
arr

array([[33.9, 18.9],
       [32.9, 18.5],
       [31.9, 18.1]])

In [16]:
type(arr)

numpy.ndarray

In [18]:
df2.head

<bound method NDFrame.head of       Uzbekistan  Kazakhstan
Yil
2021        33.9        18.9
2019        32.9        18.5
2017        31.9        18.1>

In [19]:
df2.values

array([[33.9, 18.9],
       [32.9, 18.5],
       [31.9, 18.1]])