<a href="https://colab.research.google.com/github/kholikulovelyor/Data-Darsliklari-uchun/blob/2-modul.-DATA-ANALYSIS-PANDAS-KUTUBXONASI/mohirdev2_2_Series_malumotlar_tuzilmasi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Data Science vz Suniy Intellekt Praktikum**

Ma'lumotlar tahlili. Pandas kutubxonasi

2.2 Pandas kutubxonasi bilan tanishish

In [4]:
import pandas as pd

In [5]:
import numpy as np

In [6]:
from pandas import Series # series malumotlar tuzilmasi

In [7]:
obj = Series([4, 5, 6, -6.5])

In [8]:
type(obj)

pandas.core.series.Series

In [9]:
print(obj) # print orqali obyekt ichidagi element va indexlarni ko'rish mumkin

0    4.0
1    5.0
2    6.0
3   -6.5
dtype: float64

In [10]:
obj.values # obyekt qiymatlarni ko'rish uchun vales methodidan foydalanamiz

array([ 4. ,  5. ,  6. , -6.5])

In [11]:
obj.index # index methodi orqali obyekt indexlarini ko'rishingiz mumkun

RangeIndex(start=0, stop=4, step=1)

In [12]:
obj[0]

4.0

In [13]:
obj[1]

5.0

In [14]:
obj[3] #Bu usul orqali obyektga index orqali murojat qilyapmiz

-6.5

In [15]:
obj2=Series([6, 3, 2, 0], index=['a','b','c','d']) #Bu usul orqali obyektga o'zimiz index beramiz

In [16]:
print(obj2)

a    6
b    3
c    2
d    0
dtype: int64

In [17]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [18]:
obj2['a']

6

In [19]:
cars_dict = {'Malibu':4000, 'Lacetti':2000, 'Toyota':4500, 'Mazda':52000, 'Honda':38000}

In [20]:
type(cars_dict)

dict

In [21]:
cars1 = Series(cars_dict)

In [22]:
cars1

Malibu      4000
Lacetti     2000
Toyota      4500
Mazda      52000
Honda      38000
dtype: int64

In [23]:
type(cars1)

pandas.core.series.Series

In [24]:
cars_dict

{'Malibu': 4000,
 'Lacetti': 2000,
 'Toyota': 4500,
 'Mazda': 52000,
 'Honda': 38000}

In [25]:
models = ['Honda', 'Mazda', 'Lacetti', 'Jaguar', 'Malibu', 'Toyota', 'BMW', 'Mercedes']

In [26]:
cars2 = Series(cars_dict, index=models)

In [27]:
cars2

Honda       38000.0
Mazda       52000.0
Lacetti      2000.0
Jaguar          NaN
Malibu       4000.0
Toyota       4500.0
BMW             NaN
Mercedes        NaN
dtype: float64

In [35]:
cars2.isnull() # isnull methodi har bir qiymat ko'rib chiqib element mavjud bo'lsa false yoki mavjud bo'lmasa True qaytaradi

Honda       False
Mazda       False
Lacetti     False
Jaguar       True
Malibu      False
Toyota      False
BMW          True
Mercedes     True
dtype: bool

In [37]:
cars2.notnull() # notnull methodi obyekt elementini ko'radi va 0 ga teng bo'lmasa True qaytaradi yoki teng bo'lsamasa False qaytaradi

Honda        True
Mazda        True
Lacetti      True
Jaguar      False
Malibu       True
Toyota       True
BMW         False
Mercedes    False
dtype: bool

In [38]:
cars2

Honda       38000.0
Mazda       52000.0
Lacetti      2000.0
Jaguar          NaN
Malibu       4000.0
Toyota       4500.0
BMW             NaN
Mercedes        NaN
dtype: float64

In [39]:
cars1

Malibu      4000
Lacetti     2000
Toyota      4500
Mazda      52000
Honda      38000
dtype: int64

In [41]:
cars1+cars2 # obyekt indexlarini qo'shadi

BMW              NaN
Honda        76000.0
Jaguar           NaN
Lacetti       4000.0
Malibu        8000.0
Mazda       104000.0
Mercedes         NaN
Toyota        9000.0
dtype: float64

In [44]:
cars2.name = 'Avtosalon'

In [43]:
cars2.index.name = 'Modellar'

In [45]:
cars2

Modellar
Honda       38000.0
Mazda       52000.0
Lacetti      2000.0
Jaguar          NaN
Malibu       4000.0
Toyota       4500.0
BMW             NaN
Mercedes        NaN
Name: Avtosalon, dtype: float64